// VARIABLES

$tuner-background-default: #999;
$tuner-background-1: #bada55;
$tuner-background-2: #d89ff9;
$tuner-background-3: #55dab8;
$background-colour: #fffbf2;
$button-colour: #fff;
$second-font-colour: #5a667a;
$accent-font-colour:#da7655;
$base-font: 'Amatic SC', cursive;

html {
    font-size: 125%;
}

body {
    background-image: linear-gradient(to bottom, $background-colour, darken($background-colour, 10%));
    font-size: 1rem;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto 4% auto;
}