// VARIABLES

$tuner-background-1: #bada55;
$tuner-background-2:  #55dab8;
$tuner-background-3: #dd1c1c;
$background-colour: #fffbf2;
$button-colour: #fff;
$base-font: 'Amatic SC', cursive;

html {
    font-size: 125%;
}

body {
    background-image: linear-gradient(to bottom, $background-colour, darken($background-colour, 10%));
    font-size: 1rem;
}

.wrapper {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto 5% auto;
}