// VARIABLES

$tunerBackground: #bada55;
$backgroundColour: #fffbf2;
$buttonColour: #fff;
$baseFont: 'Amatic SC', cursive;

html {
    font-size: 125%;
}

body {
    background-image: linear-gradient(to bottom, darken($backgroundColour, 5%), $backgroundColour);
}

.wrapper {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto 5% auto;
}