header {
    font-family: $base-font;
    min-height: 100vh;
    background: url(assets/background.svg) no-repeat center;
    background-size: cover;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 4.5rem;
    text-align: center;
}

.message {
    margin: 0 0 1% 0;
    color: #5a667a;
}

.tuner {
    width: 80%;
    border: 5px solid #000;
    border-radius: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 0;
    background-image: linear-gradient(to bottom, $tuner-background-1, darken($tuner-background-1, 15%));
    .button {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        margin: 1%;
        background: $button-colour;
        transition: .1s all ease-out;
        box-shadow: 3px 3px 5px #5a667a;
        &:hover {
            transform: scale(.95);
            box-shadow: none;
            color: #da7655;
            font-size: 2.5rem;
        }
    }
}

.tuner.full-step {
    background-image: linear-gradient(to bottom, $tuner-background-2, darken($tuner-background-2, 15%));
}

select {
    width: 300px;
    font-size: 1.3rem;
    border: none;
    appearance: none;
    border-bottom: 4px solid #000;
    padding: 5px;
    margin-bottom: 15%;
    text-align: center;
    background: transparent;
    color: #5a667a;
    &:focus {
        border: 4px solid #da7655;
    }
}

option {
    color: #000;
}

.select-tuning {
        color: #5a667a;
    }

.song-list span {
    color: #da7655;
}

ul {
    margin: 0;
    padding: 0;
    display: none;
    a {
        color: #000;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 20px;
        &:hover {
            color: #da7655;
        }
    }
}
