header {
    font-family: $base-font;
    min-height: 100vh;
    background: url(assets/background.svg) no-repeat center;
    // background svg adapted from Noun Project image by Gustavo Perez Rangel.
    background-size: cover;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-top: 8%;
}

select {
    width: 300px;
    font-size: 1.2rem;
    border: none;
    appearance: none;
    border-bottom: 4px solid #000;
    padding: 5px;
    margin-bottom: 10%;
    text-align: center;
    text-align-last: center; //needed for Chrome
    background: transparent;
    color: $second-font-colour;
    cursor: context-menu;
    &:focus {
        border-bottom: 4px solid $accent-font-colour;
    }
}

option {
    color: #000;
}

.select-tuning {
    color: $second-font-colour;
}

.message {
    margin: 0 0 10px 0;
    color: $second-font-colour;
}

.tuner {
    width: 80%;
    border: 5px solid #000;
    border-radius: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 0;
    background-image: linear-gradient(to bottom, $tuner-background-default, darken($tuner-background-default, 20%));
    .button {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        margin: 1%;
        background: $button-colour;
        transition: .1s all ease-out;
        color: $second-font-colour;
        &:hover {
            color: #000;
            box-shadow: 3px 3px 5px $second-font-colour;
        }
        &:active {
            transform: scale(.95);
            box-shadow: none;
            color: #000;
            font-size: 2.7rem;
        }
    }
}

.tuner.standard {
    background-image: linear-gradient(to bottom, $tuner-background-1, darken($tuner-background-1, 20%));
}

.tuner.full-step {
    background-image: linear-gradient(to bottom, $tuner-background-2, darken($tuner-background-2, 20%));
}

.tuner.half-step {
    background-image: linear-gradient(to bottom, $tuner-background-3, darken($tuner-background-3, 20%));
}

.list-title span {
    color: $accent-font-colour;
}

li {
    color: #000;
    text-decoration: none;
    margin-bottom: 20px;
}

// MEDIA QUERIES

@media (max-width: 915px) {

    .tuner {
        width: 50%;
        .button {
            margin: 3% 3%;
        }
    }
    header {
        background-position-x: 0;
    }
    .content {
        padding-left: 12%;
    }
}

@media (max-width: 650px) {
    
    header {
        background: none;
    }

     .content {
        padding-left: 0;
    }
}

@media (max-width: 475px) {
    
    h1 {
        font-size: 3.8rem;
    }
}

@media (max-width: 400px) {

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.3rem;
        text-align: center;
    }

    select {
        width: 250px;
    }
}